body {
    color: black;
}

.button {
    color: white;
    border-style: solid;
    border-width: 2px;
    padding: 20px;
    border-color: #313332;
    background-color: #313332;
}

.button:hover {
    background-color: white;
    color: #313332;
}

.commands-title {
    color: black;
    background-color: white;
    border-style: solid;
    border-color:black;
    border-width: 2px;

}

.commands-box {
    color:black;
    background-color: white;
    border-style: solid;
    border-color:black;
    border-width: 2px;
}