body {
    color: black;
    font-family: arial;
}

.button {
    color: white;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    border-color: #313332;
    background-color: #313332;
    text-decoration: none;
}

.button:hover {
    background-color: white;
    color: #313332;
}

.commands-title {
    color: black;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.commands-box {
    color: black;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

/* /r/PCMR FLair thing
.steb:before {
    background: #00A95B;
    content: 'Stebulous';
    display: inline-block;
    font-size: 10px;
    padding: 2px 4px;
}

.steb {
    background: rgb(2, 119, 64);
    color: rgb(255, 255, 255);
    font-size: 0;
    padding: 0 3px 0 0;
    -webkit-transition: 300ms;
    transition: 300ms;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.steb:hover {
    font-size: 10px;
}
.steb:hover:before {
    margin-right: 3px;
}
*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(56, 56, 56);
    color: white;
    text-align: center;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #d6b10b; /* Red */
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}